---
import Projects from "../components/Projects.astro";
import Layout from "../components/Layout.astro";
import Video from "../components/Video.astro"
import Aboutme from "../components/Aboutme.astro";
import Footer from "../components/Footer.astro";
import Tools from "../components/Tools.astro";
import Contact from "../components/Contact.astro"
import ModalResume from "../components/ModalResume.astro";
---

 <Video />
<Layout pageTitle="Welcome to my Portfolio"description="gsusgil projects's as graphic designer, web designer and web developer">
  <main>
    <h2 id="about-me" class="w-full mx-auto mt-12 pl-3 text-8xl font-bold tracking-tighter text-white opacity-45  hover:text-blue-850 hover:bg-slate-50 hover:opacity-90 max-w-screen-xl">ABOUT ME</h2>
    <Aboutme />
    <h2 id="projects" class="w-full mx-auto mt-12 pl-3 text-8xl font-bold tracking-tighter text-white opacity-45  hover:text-blue-850 hover:bg-slate-50 hover:opacity-90 max-w-screen-xl">PROJECTS</h2>
    <Projects />
  </main>
</Layout>
<Tools />
<Contact />
<ModalResume />
<Footer />
