<section
  class="w-full mx-auto mt-[100px] max-w-screen-xl bg-[#343740]bg-[#343740] text-lg text-left px-20 max-w=[60] text-pretty my-24"
>
  <img class="avatar" src="./profile-port.webp" alt="gsusgil profile" />
  <h3 class="text-6xl font-semibold text-balance text-white mb-1">
    Jesus David Gil
  </h3>
  <span class="text-white/70 font-thin"> Barcelona, Spain</span>

  <p class="max-w-[800px] mt-9">
    I'm a graphic designer with <strong class="hover:text-orange-650">+7 years of experience</strong> working in
    agencies and communication offices. My constant desire to learn led me to study
    <strong class="hover:text-orange-650">UX/UI design, and now Figma</strong> is one more tool in my skill set.
  </p>
  <p class="max-w-[800px]">
    But that's not all, as I also ventured into the world of <strong class="hover:text-orange-650"
      >FrontEnd web development and chose Vue.js</strong
    > as my favorite framework. This diversity in my skill set allows me to approach projects with a comprehensive perspective, from design to implementation.
  </p>
  <p class="max-w-[800px]">
    I'm creative, critical, committed and always <strong class="hover:text-orange-650"
      >looking for ways to improve and grow professionally</strong
    >. Get to know me a little more by scrolling to my works!
  </p>
</section>

<style>
  .avatar {
    width: 200px;
    height: 200px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
</style>
