---
import "@fontsource-variable/onest";
import Header from "./Header.astro";
interface Props {
  pageTitle?: string;
  description: string;
}

const { pageTitle = " ", description = " "} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{description}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>gsusgil | {pageTitle} {description}</title>
  </head>
  <body>
    
    <Header />
    

    <slot />
    

  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }

    html {
      font-family: "Onest Variable";
      /* background: #3b3e4a; */
      background-color: #172330;
    }

    p{
      color:rgba(255, 255, 255, 0.9);
      line-height: 1.4;
      margin-bottom: 1em;
      font-weight: 200;
      font-size: 1em;
      letter-spacing: 0.5px;
    }
    p > strong {
      color: white;
      font-weight: 700;
    }
    #header-nav {
      animation: blur linear both;
      animation-timeline: scroll();
      animation-range: 0 500px;
    }

    @keyframes blur {
      to {
        box-shadow:
          0px 5px 50px -5px rgba(202, 194, 194, 0.745),
          0px,
          0px 0 1px rgba(192, 172, 172, 0.959);
        background: rgba(242, 234, 230, 0.3);
        backdrop-filter: blur(10px);
      }
    }
  </style>
</html>
