<div class="scroller" data-speed="slower">
  <div class="logos-slide scroller__inner">
    <img src="/adobe-illustrator-cc-icon.svg" alt="" />
    <img src="/adobe-photoshop-2.svg" alt="" />
    <img src="/after-effects-1.svg" alt="" />
    <img src="/figma-5.svg" alt="" />
    <img src="/github-icon-1.svg" alt="" />
    <img src="/html-1.svg" alt="" />
    <img src="/css-3.svg" alt="" />
    <img src="/javascript-1.svg" alt="" />
    <img src="/vue-js-1.svg" alt="" />
    <img src="/tailwindcss.svg" alt="" />
    <img src="/astro.svg" alt="" />
  </div>
</div>
<script>
  const scrollers = document.querySelectorAll(".scroller");
  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    addAnimation();
  }
  function addAnimation() {
    scrollers.forEach((scroller) => {
      scroller.setAttribute("data-animated", true);
      const scrollerinner = scroller.querySelector(".scroller__inner");
      const scrollerContent = Array.from(scrollerinner.children);

      scrollerContent.forEach((item) => {
        const duplicatedItem = item.cloneNode(true);
        duplicatedItem.setAttribute("aria-hidden", true);
        scrollerinner.appendChild(duplicatedItem);
      });
    });
  }
</script>

<style>
  .scroller {
    max-width: 1440px;
    display: flex;
    align-items: center;
  }

  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .scroller[data-animated="true"] {
    background-color: #f2f2f2;
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 20s) linear infinite;
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 2rem));
    }
  }
  .logos-slide {
    margin: 0;
    padding-inline: 0;
  }

  .logos-slide img {
    height: 50px;
    transition: filter 0.3s ease;
  }
</style>
